<div class="formClass" [hidden]="submitted" style="width: 100%;">
    <h3>Cadastrar Medicamento</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Número de registro anvisa</label>
        <input type="text" class="form-control" id="anvisaRegistrationNumber" placeholder="0.0000.0000.000-0" minlength="13" maxlength="13" required 
          [(ngModel)]="medication.anvisaRegistrationNumber" pattern="[0-9]{1}.[0-9]{4}.[0-9]{4}.[0-9]{3}-[0-9]{1}." name="anvisaRegistrationNumber" >
      </div>
  
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="medication.name" name="name">
      </div>
  
      <div class="form-group">
        <label for="name">Vencimento</label>
        <input type="date" value="" class="form-control" placeholder = "dd/mm/yyyy"  name="expirationDate" id="expirationDate" required ([ngModel])="medication.expirationDate" >
      </div>
  
      <div class="form-group">
          <label for="name">Telefone Sac</label>
          <input type="tel" maxlength="11" class="form-control" placeholder="(00) 00000-0000" id="telephoneSac" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required [(ngModel)]="medication.telephoneSac" name="telephoneSac">
      </div>
  
      <div class="form-group">
        <label for="name">Preço</label>
        <input type="text" placeholder="0,00" class="form-control" id="price" required [(ngModel)]="medication.price" name="price">
      </div>
  
      <div class="form-group">
        <label for="name">Quantidade de Comprimidos</label>
        <input type="text" class="form-control" value="" id="quantityPills" required [(ngModel)]="medication.quantityPills" name="quantityPills">
      </div>
  
      <div class="form-group">
        <select class="form-control" name="adverseReaction" id="adverseReaction" required>
          <option *ngFor="let adverseReaction of adverseReactions" [value]="adverseReaction.id">{{adverseReaction.description}}</option>
        </select>      
      </div>
  
      <div class="form-group">
        <select class="form-control" name="manufacturer" id="manufacturer" required>
          <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">{{manufacturer.name}}</option>
        </select>      
      </div>
  
      <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
  </div>